<div id="skillsSection">
    <h1>Skills</h1>
    <p>I aspire to expand my knowledge and expertise in the fields of computer software engineering, computer
        systems, and back-end development. My goal is to pursue new and challenging opportunities in a reputable
        company that specializes in software engineering and development. I am focused on enhancing my skills and
        gaining valuable experience in a dynamic and innovative work environment.</p>

    <div id="skills">


        <div class="skill">
            <h3>Angular</h3>
            <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="60" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar bg-info" style="width: 60%; color: #282923; font-size: bold;">60%</div>
            </div>
        </div>

        <div class="skill">
            <h3>Python</h3>
            <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar bg-info" style="width: 50%; color: #282923; font-size: bold;">50%</div>
            </div>
        </div>

        <div class="skill">
            <h3>Sql</h3>
            <div class="progress" role="progressbar" aria-label="Info example" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar bg-info" style="width: 50%; color: #282923; font-size: bold;">50%</div>
            </div>
        </div>
        <div class="focus">
            <p id="focus">My Focus</p>
            <div class="row">
                <div class="col-4">
                    <div class="list-group" id="list-tab" role="tablist">
                        <a class="list-group-item list-group-item-action " id="list-home-list" data-toggle="list"
                            href="#list-home" role="tab" aria-controls="home">web devlopment</a>
                        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list"
                            href="#list-profile" role="tab" aria-controls="profile">Agile software</a>
                        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
                            href="#list-messages" role="tab" aria-controls="messages">OOP</a>

                    </div>
                </div>
                <div class="col-8">
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="list-home" role="tabpanel"
                            aria-labelledby="list-home-list">...</div>
                        <div class="tab-pane fade" id="list-profile" role="tabpanel"
                            aria-labelledby="list-profile-list">...
                        </div>
                        <div class="tab-pane fade" id="list-messages" role="tabpanel"
                            aria-labelledby="list-messages-list">
                            ...</div>
                        <div class="tab-pane fade" id="list-settings" role="tabpanel"
                            aria-labelledby="list-settings-list">
                            ...</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>