<div id="bio">
    <div class="left">
        <h1>About Me</h1>
    </div>

    <div class="right">
        <p>
            My name is omnia mohamed and i am currently student at ITI open-source application development programme .
            With a passion for software engineering, I am a recent computer science graduate with an excellent GPA,
            expertise in Python back-end development and data management.
            I am committed to contributing to a company's success while expanding my knowledge and expertise in software
            engineering. I am dedicated to continuous learning and growth in a dynamic work environment, and I am
            excited to pursue new opportunities to enhance my skills and advance my career.
        </p>

        <a id="pdf" href="../../assets/Omnia--Mohamed software.pdf" download="">
            <button id="down" type="button" class="btn btn-primary" style="background-color: #5F9EA0;">Download
                Resume</button>
        </a>
    </div>
</div>