<div id="portfolio">
    <h3>Projects</h3>
    <div id="projects">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Demo Project</h5>
                <p class="card-text">DBMS: Bash project that is a real database where you could do every thing as thr
                    real data base</p>

            </div>
        </div>


        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Demo Project</h5>
                <p class="card-text">Balad: javaScript project that has All country with their related news and Info and
                    alot moore Using API</p>

            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Demo Project</h5>
                <p class="card-text">Graduation project : Dental Implant Identifier devloped with Django Back-end tool.
                </p>

            </div>
        </div>
    </div>
</div>